@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header.scrollmenu{
    background-color: rgb(255, 255, 255);
    padding: 1px 0 1px 0;
    z-index: 9999;
}
header.scrollmenu>nav>ul>li>a{
    color: rgb(0, 0, 0);
}
header.scrollmenu>nav>a{
    background-color: rgb(248, 129, 32);
    color: white;
}
header.scrollmenu>nav{
    font-size: 1em;
}

a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    padding: 35px 0 25px 0;
    transition: .5s;
}

.menu-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8% 0 8%;
    font-size: 18px;
}
.menu-flex>img{
    width: 60px;
    cursor: default;
}

.menu-itens{
    display: flex;
    gap: 40px;
}

li{
    list-style-type: none;
}
.menu-itens>li>a{
    color: white;
    border-bottom: 2px solid rgba(248, 172, 32, 0);
    transition: .5s;
}
.menu-itens>li>a:hover{
    border-bottom: 2px solid rgb(248, 129, 32);
}
.botao-contato{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 14px;
    padding: 6px;
    color: rgb(248, 129, 32);
    font-weight: 600;
    transition: 0.4s;
}
.botao-contato:hover{
    transform: scale(1.07);
}





.sessao-banner{
    background-image: url(imagens/banner.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.h-flex{
    display: flex;
    justify-content: center;
}
h1{
    padding-top: 230px;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 500;
}

h1>span{
    color: white;
    font-size: 21px;
    font-weight: 200;
    font-family: "Poppins";
}

.texto-inicial{
    padding: 150px 10% 0 10%;
    font-size: 30px;
    color: white;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.texto-inicial>span{
    color: rgb(248, 129, 32);
}

.box-falecomigo{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.falecomigo{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    padding: 10px;
    border-radius: 22px;
    background-color: rgb(248, 129, 32);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    transition: .5s;
    
}
.falecomigo:hover{
    color: black;
    transform: scale(1.04);
}
.box-seta{
    transform:translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: quicar 2s infinite;
    top: 87vh;
    left: 48%;
}
.mouse{
    color: white;
    width: 60px;
    height: 60px;
}
.seta{
    color: white;
    width: 35px;
    height: 35px;
}
#mouse.scrollmouse{
    opacity: 0;
}








.titulos{
   padding-top: 80px;
   text-align: center;
   border-bottom: 2.5px solid rgb(248, 129, 32);
   width: 150px;
   justify-content: center;
   margin: auto;
   font-weight: 500;
}





.box-sobre{
    display: flex;
    padding: 120px 4% 80px 4%;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 50px;
}
img{
    width: 280px;
}

.textosobre{
    text-align: center;
    font-size: 19px;
    max-width: 600px;
    font-weight: 300;
    
}
.nome{
    font-weight:500;
}










.sessao-servicos{
    background-color: rgb(249, 249, 249);
}
.box-servicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 80px 18% 50px 18%;
}


.box-servicos>li{
    max-width: 300px;
    border: 2px solid rgb(184, 184, 184);
    padding: 20px;
    margin-bottom: 40px;
}
.box-servicos>li>p{
    text-align: center;
}
.flex-servicos{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 20px;
}
.flex-servicos>h3{
    margin-left: 15px;
}
.flex-servicos>svg{
    width: 40px;
    height: 40px;
}








.box-portfolio{
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 40px 8%;
    background-color: rgb(249, 249, 249);
}

.box-portfolio>li>h3{
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
}

.box-portfolio>li>a>img{
    width: 360px;
    height: 240px;
    
}
.box-portfolio>li>a>div{
    opacity: 0;
    position: absolute;
    width: 360px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    transition: .7s;
    text-align: center;
}
.box-portfolio>li>a>div:hover{
    opacity:1
}
h4{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 28px;
    color: white;
    font-weight: 500;
}







.depoimento-flex{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
}

.sessao-depoimento{
    padding: 60px 20px;
    position: relative;
    max-width: 750px;
    overflow: hidden;
    margin: 50px 0;
}
.slide{
    cursor: grab;
}
.slide:active{
    cursor: grabbing;
}
.aspas{
    margin-left: 50px;
    color: rgb(161, 161, 161);
    height: 65px;
    width: 65px;
}

.depoimento-txt{
    text-align: center;
    max-width: 650px;
    font-weight: 300;
    padding: 0 30px 0 30px;
}
.pessoa{
    margin: 30px 0 -50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.depoimento-foto{
    width: 80px;
    margin-bottom: 10px;
    margin-left: 30px;
}
#foto-advocacia{
    width: 40px;
    height: 50px;
 }








.sessao-contato{
    background-color: black;
}

#titulo-contato{
    color: white;
}
.box-contato{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5%;
}

.box-contato>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.box-contato>li>a>svg{
    background-color: rgb(255, 136, 0);
    padding: 16px;
    border-radius: 18px;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    color: white;
    transition: 0.5s;
}

.box-contato>li>a>svg:hover{
    color: black;
}





.botao-whatsapp{
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: #25D366;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
}
.botao-whatsapp:hover{
    transform: scale(1.06);
    .icone-whatsapp{
        color: black;
    }
}

.icone-whatsapp{
    width: 35px;
    height: 35px;
    color: white;
    margin: 3px 0 0 2px;
}




.botao-menu{
    position: fixed;
    top: 5px;
    right: 5px;
    display: none;
}
.botao-menu>svg{
    color: white;
    height: 32px;
    width: 32px;
}
#botaomenu.scrollmenumobile>svg{
    color: black;
}



.menu-mobile{
    background-color: rgb(43, 42, 42);
    justify-content: right;
    position: fixed;
    top: 30px;
    right: 0px;
    z-index: 999;
    width: 0%;
    padding-bottom: 20px;
    transition: .4s;
}
.x{
    color: white;
    padding: 5px;
    cursor: pointer;
}
.menu-mobile>ul{
    list-style-type: none;
    text-align: right;
    padding-right: 7px;
}
.menu-mobile>ul>li{
    margin-bottom: 15px;
}
.menu-mobile>ul>li>a{
    text-decoration: none;
    color: white;
}

.menu-mobile.abrir-menu{
    width: 60%;
}





@keyframes quicar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

        
@media (max-width: 1450px) {
    h1{
        padding-top: 150px;
    }
    .texto-inicial{
            padding: 60px 8% 0 8%;
            font-size: 29px;
        }
        
        .box-falecomigo{
            display: none;
        }
        .box-seta{
            top: 83vh;
        }
        .mouse{
            width: 52px;
            height: 52px;
        }
        .seta{
            width: 30px;
            height: 30px;
        }
        

    .box-servicos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 80px 10% 50px 10%;
        gap: 10px;
    }
}









@media (max-width: 700px){
    

    .botao-menu{
        display: block;
    }
    .menu-flex{
        display: none;
    }


    .h-flex{
        display: flex;
        justify-content: center;
    }
    h1{
        padding-top: 50px;
        color: rgb(255, 255, 255);
        text-align: center;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        font-size: 34px;
        font-weight: 500;
    }
    
    h1>span{
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    
    .texto-inicial{
        padding: 110px 10% 0 10%;
        font-size: 24px;
        color: white;
        text-align: center;
        max-width: 1200px;
        margin: auto;
    }
    
    .box-falecomigo{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .falecomigo{
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 23px;
        padding: 10px;
        border-radius: 22px;
        background-color: rgb(248, 129, 32);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
        transition: .5s;
        
    }

    .box-seta{
        top: 92vh;
    }
    .mouse{
        display: none;
    }

    body{
        background-image: none;
        background-color: white;
    }

    .box-servicos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 80px 3% 50px 3%;
        gap: 10px;
    }
    
    
    .box-contato{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box-contato>li{
        flex-direction: column;
        margin-bottom: 33px;
        font-size: 16px;
        font-weight: 400;
    }
    

    
    
    .depoimento-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: auto;
     }
     .sessao-depoimento{
         padding: 60px 20;
         width: 98%;
         position: relative;
         max-width: 850px;
         overflow: hidden;
         margin: 50px 0;
     }
     
     .aspas{
         margin-left: 20px;
         color: rgb(161, 161, 161);
         height: 55px;
         width: 55px;
     }
     
     .depoimento-txt{
         text-align: center;
         max-width: 350px;
         margin: auto;
         font-weight: 300;
         font-size: 13.5px;
     }
     .pessoa{
         margin: 20px 0 0 25px;
         display: flex;
         flex-direction: column;
     }
     .depoimento-foto{
         width: 65px;
         margin-left: 20px;
         margin-bottom: 10px;
     }
     .pessoa>p{
        font-size: 14px;
     }



     #foto-advocacia{
        width: 40px;
        height: 50px;
     }
     #depoimento-txt-adv{
        margin-top: 20px;
     }
}



@media (max-width: 500px){
    header{
        display: none;
    }
    .h-flex{
        display: flex;
        justify-content: center;
    }
    h1{
        padding-top: 80px;
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 34px;
        font-weight: 500;
    }
    
    h1>span{
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    
    .texto-inicial{
        padding: 110px 10% 0 10%;
        font-size: 24px;
        color: white;
        text-align: center;
        max-width: 1200px;
        margin: auto;
    }
    
    .box-falecomigo{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .falecomigo{
        display: none;
        
    }

    .box-seta{
        top: 82vh;
    }
    .seta{
        width: 35px;
        height: 35px;
    }
    
    .sessao-banner{
        background-image: url(imagens/banner.png);
        background-position: center;
        background-size: cover;
        background-attachment: unset;
        height: 100vh;
    }
    



    .textosobre{
        text-align: center;
        font-size: 18px;
        max-width: 600px;
        padding: 0 5%;
    }



    .box-servicos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 10% 10px 10%;
    }
    
    
    .box-servicos>li{
        max-width: 300px;
        border: 2px solid rgb(228, 228, 228);
        padding: 20px;
        margin-bottom: 40px;
    }
    .box-servicos>li>p{
        text-align: center;
    }
    .flex-servicos{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: center;
        margin-right: 20px;
    }
    .flex-servicos>h3{
        margin-left: 15px;
    }
    .flex-servicos>svg{
        width: 40px;
        height: 40px;
    }



    .box-portfolio>li>a>img{
        width: 320px;
        height: 225px;
        
    }
    .box-portfolio>li>a>div{
        opacity: 0;
        position: absolute;
        width: 320px;
        height: 225px;
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
        transition: .7s;
        text-align: center;
    }






    .botao-whatsapp{
        bottom: 10px;
        right: 8px;
        padding: 8px;
    }

    .icone-whatsapp{
        width: 27px;
        height: 27px;
        margin: 3px 0 0 2px;
    }

    .botao-menu{
        display: block;
    }
}
